/******* Variables *******/
$sand:      #e8dcad
$blurple:   #797dde
$black:     #141414
$white:     #e9f6e1

/******* App Globals *******/ 
Header{
    background: $blurple
}
Rule{
    color: $blurple;
}

/* Make sure to delete and apply only to the accent color box*/
Horizontal {
    content-align: center middle;
    border: heavy white;
}

/******* Tense Selector *******/
.tense-heading{
    border: heavy $black;
    height: 4;
    #tense-title{
        color: $black
    }
    #tense-subtitle{
        color: $black
    }
}
.tense-card{
    height: 3;
    border: heavy white;
    color: $blurple;
    align: left middle;

    Button.fake-label{
        content-align: right middle;
        padding: 0 4;

        border: none;
        background: transparent;

        color: $blurple;
    }
    Button.fake-label:hover{
        text-style: underline;
    }
    Button.fake-label:focus{
        background: transparent;
        text-style: bold;
    }
    Button.fake-label.-active{
        background: transparent;
    }
}

/******* Verb Selector Screen *******/
#verb-heading{
    color: $black;

}
#segment_1{
    margin: 1 0;
    .verb-selector-card{
        height: 3;
        color: $blurple;
        border: heavy white;

        Button.fake-label{
            content-align: left middle;
            padding: 0 4;

            border: none;
            background: transparent;

            color: $blurple;
        }
        Button.fake-label:hover{
            text-style: underline;
        }
        Button.fake-label:focus{
            background: transparent;
            text-style: bold;
        }
        Button.fake-label.-active{
            background: transparent;
        }
    }
}

#segment_2{
    height: 4;
    border: heavy white;
    Label{
        text-style: bold;
        color: $blurple;
    }
    Button{
        height: 1;
        width: 20;
        background: $blurple;
        border: none;
    }
    Button:focus{
        background: $blurple;
        text-style: bold;
    }
}

/******* Game Screen *******/
#main-content{
    content-align: center middle;
}

#accent-box{
    height: 3;
    align: center middle;

    Button.accent-letters{
        width: 3;
        min-width: 0;
        border: none;
        background: $blurple;
        color: white;
        height: 1;
    }
}

#conjugation-input{
    background: $blurple;
    border: tall white;
}

.column{
    border: heavy white;
    color: $blurple;

}

#column_1{
    align: right middle;
}
#column_2{
    align: center middle;
}
#column_3{
    align: left middle;
}

/******** Color Pallete *******/
/* VINT-HS PALLLETE - by michdev (Found on LOSPEC) */
/* For refrence, however may make some variables for ease
/*  black           #141414 
    grey_1          #202125
    grey_2          #2c2e2d
    grey_3          #464847
    grey_4          #545454
    grey_5          #827d7d
    light_brown     #a49894
    tan             #d0c6b0
    off_white       #e9f6e1
    ocean_blue      #4582c7
    dark_blue       #3c53ce
    deep_pink       #d53e84
    lipstick_red    #be173b
    red_orange      #e44326
    orange          #f8812f
    yellow          #ffd340
    light_green     #a7c96b
    green           #57b069
    sky_blue        #82c7eb
    blurple         #797dde
    pink            #e383c4
    strawberry      #f34f6f
    salmon          #f07a5e
    peach           #f6a280
    sand            #e8dcad
    nature_green    #b6da8b
    mint_green      #79d8a9
*/


